[submodule "3rdparty/scintilla-iOS"]
	path = 3rdparty/scintilla-iOS
	url = https://github.com/missdeer/Scintilla-iOS.git
[submodule "3rdparty/scintilla"]
	path = 3rdparty/scintilla
	url = https://github.com/amezin/scintilla.git
	branch = upstream
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
