[submodule "3rdparty/scintilla-iOS"]
	path = 3rdparty/scintilla-iOS
	url = https://github.com/missdeer/Scintilla-iOS.git
[submodule "3rdparty/scintilla"]
	path = 3rdparty/scintilla
	url = https://github.com/mirror/scintilla.git
[submodule "3rdparty/KF5SyntaxHighlighting"]
	path = 3rdparty/KF5SyntaxHighlighting
	url = https://anongit.kde.org/syntax-highlighting.git
